# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Jupyter Kernels
- Jupyter Architecture
- Using Markdowns
- Anaconda Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. ggplot

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

## Author
Terry Mukundi